numpy
scipy
Pillow==4.3.0
cython
matplotlib
scikit-image
django==2.2.24
tensorflow>=1.8.0
keras>=2.2.4
opencv-python
pycocotools
h5py
imgaug
dlib
face_recognition
easydict
scikit-learn
tensorboardX
tqdm
torch
torchvision
progressbar2
IPython[all]
