numpy
scipy
Pillow
cython
matplotlib
scikit-image
tensorflow>=1.3.0
keras>=2.0.8
opencv-python
h5py
imgaug
easydict>=1.9
scikit-learn>=0.18.1
tensorboardX>=1.5
tqdm>=4.28.1
torch
torchvision
datasketch
progressbar2
IPython[all]
